
Tesseract/Data/.DS_Store
Tesseract/.DS_Store
Vision/.DS_Store
*.lock
Vision/.DS_Store
Tesseract/.DS_Store
Document/awesome-ios/.travis.yml
*.lock
Tesseract/LoveInASnap/Podfile.lock
Vision/.DS_Store
Tesseract/.DS_Store
Vision/.DS_Store
Tesseract/LoveInASnap/Podfile.lock
Tesseract/.DS_Store
